#page{
 background-color:  rgb(104, 187, 285);
 max-width: 650px;
 margin: 0 auto;
 padding: 1%;
 border: 1px solid rgb(158, 176, 189)
}
p, ul{
  font-size:0.8em;
  font-family: calibri;
}
h1, h2, h3{
  font-family: calibri
}
#header{
  background-color:  rgb(128, 193, 229);
  height: 30px;
  text-align: center;
  padding-bottom: 10%;
  margin-bottom: 2%;
  border: 1px solid rgb(158, 176, 189)
}
#container{
  background-color:  rgb(128, 193, 229);
  padding: 2%;
  border: 1px solid rgb(158, 176, 189)
}
#left-box{
  background-color: rgb(90, 166, 209);
  color: white;
  width: 30%;
  padding: 5px;
  height: 890px;
  border: 1px solid rgb(158, 176, 189)
}
img{
  width: 100%;
  border: 1px solid rgb(158, 176, 189)
}
#right-box{
  background-color: rgb(90, 166, 209);
  width: 60%;
  float: right;
  margin-top: -900px;
  padding: 3%;
  height: 870px;
  border: 1px solid rgb(158, 176, 189)
  
}
#experiences-box{
  background-color: white;
  padding: 2%;
  margin-bottom: 2%;
  color: black;
  border: 1px solid rgb(158, 176, 189)
}
.experience{
  background-color: rgb(19, 61, 86);
  color: white;
  padding: 2%;
  margin-bottom: 2%;
  border: 1px solid rgb(158, 176, 189)
}
#studies-box{
  background-color: white;
  padding: 2%;
  color: black;
  border: 1px solid rgb(158, 176, 189)
}  
.study{
  background-color: rgb(19, 61, 86);
  color: white;
  padding: 2%;
  margin-bottom: 2%;
  border: 1px solid rgb(158, 176, 189)
}
#footer{
  background-color: rgb(90, 166, 209);
  text-align: center;
  margin-top: 2%;
  width: 100%;
  height: 45px;
  border: 1px solid rgb(158, 176, 189)
   
}